.cronometro{
    display:flex;
    align-content: center;
    padding-top: 5%;
    padding-left: 23%;
}

.boton01{
    font-size: 100px;
    justify-content: center;
    
}
.boton02{
    font-size: 30px;
    justify-content: center;
    margin: 10px;
}
.opciones{
    display:flex;
    align-content: center;
    padding-top: 2%;
    padding-left: 34.2%;
}
img{
    inline-size: 3%;
}